 .carousel-item {
    height: 50vh;
    object-fit: cover;
}

.carousel-inner {
    position: relative;
}

.carousel-item img {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #000;
}  